@import '../../../variables';

.user {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  width: 528px;
  height: 168px;

  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 1px;
    width: calc(100% - 40px);
    bottom: 0;
    // transform: rotate(90deg) translate(-50%, 16px);
    background-color: $linesColor;
    }

  &__header {
    justify-content: space-between;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
  }

  &__verified {
    width: 20px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__info {
    font-size: 20px;
    font-weight: 600;
  }

  &__name {
    margin-left: 4px;
  }

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }

  &__header {
    display: flex;
    height: 64px;
  }

  &__favInfo {
    display: flex;
    padding-top: 4px;
  }

  &__favIcon {
    width: 16px;
    height: 16px;
  }

  &__favText {
    margin-left: 4px;
    font-size: 14px;
    color: $secondaryColor;
  }

  &__extraButton {
    padding: 17px 12px;
    border: 1px solid $lightGray;
    border-radius: 12px;
  }
  &__more {
    display: block;
    width: 14px;
  }

  &__gallery {
    position: relative;
    width: 488px;
    margin-top: 16px;
    overflow: hidden;
    display: flex;
    gap: 4px;

  }

  &__galleryButton {
    position: absolute;
    top: 50%;
    left: calc(100% - 24px);
    transform: translateY(-50%);
  }
  &__galleryButtonImg {
    width: 24px;
  }

  &__galleryImg {
    height: 48px;
    border-radius: 10px;
  }

// черта под юзером
  // &::after {
  //   content: '';
  //   height: 1px;
  //   background-color: #1d2929;
  // }
}