@import '../../../../variables';

.chatItem {
  display: flex;
  align-items: center;
  height: 72px;
}

.userAvatar {
  padding: 0 12px 0 20px;

  &__img {
  width: 48px;
  border-radius: 50px;
  }
}

.chatInfo {
  &__userName {
    font-size: 16px;
    font-weight: 600;
  }

  &__lastMessage {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 140%;
    color: $secondaryColor;
  }

  &__gift {
    color: $giftMessageColor;
  }

  &__sympathy {
    color: $sympathyColor;
  }
}

.myMessageSpan {
  color: $primaryColor;
}

.sympathyIcon, .presentIcon {
  width: 16px;
  margin-right: 4px;
}

.span {
  display: inline-block;
}