$primaryColor: #1a1d1e;
$secondaryColor: #8398a2;
$bcgColor: #ecedef;
$linesColor: #c4c4c4;
$inputBorderColor: #ced7e4;
$messageBcgColor: #fff;
$lightGray: #d9dddd;
$myMessageBcgColor: linear-gradient(0deg, rgba(62, 181, 241, 0.24) -82.4%, rgba(70, 203, 198, 0.24) 170.95%);
$favUsersBcgColor: linear-gradient(0deg, rgba(62, 181, 241, 0.1) -82.4%, rgba(70, 203, 198, 0.1) 170.95%);
$giftMessageColor: #3eb5f1;
$sympathyColor: #e60576;
