@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Manrope:wght@400;500;600;700&family=Readex+Pro&family=Roboto:wght@400;700&display=swap');

@import './normalized.scss';

body {
  background-color: #f5a0cb;
}

.App {
  display: flex;
  width: 844px;
  height: 920px;
  font-family: 'Manrope', sans-serif;
}
